@import "./main.scss";

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 80px;
}

.menu-container {
    width: 500px;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-list {
    padding: 100px 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: flex-end;
    height: 100%;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size: 48px;
    z-index: 1;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 48px;
    margin-top: 10px;
    transform: translate(+80%, 0px);
    opacity: 0;
    animation: item-slide-show 0.4s forwards ease-out;
}

@keyframes item-slide-show {
    0% {
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.menu-item:not(:last-child) {
    margin-bottom: 20px;
}

@for $i from 1 to 6 {
    $delay: ($i - 0.1) * 0.2;
    .menu-item:nth-child(#{$i}) {
        animation-delay: #{$delay}s;
    }
}
