@import "./App.scss";

body {
    width: 100vw;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0 auto;
    text-align: center;
}

#modal {
    position: fixed;
    left: 60%;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 255, 255);

    border: solid 2px white;
    animation: menu-container-anim 0.3s forwards ease-out;
}

@keyframes menu-container-anim {
    0% {
        opacity: 0.3;
        transform: translate(+80%, 0%);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.hide-modal {
    position: fixed;
    left: 60%;
    height: 100vh;
    animation: item-slide-hide 0.3s forwards ease;
}

@keyframes item-slide-hide {
    0% {
    }

    100% {
        opacity: 0;
        transform: translate(+50%, 0px);
    }
}
